.image-gallery {
  display: flex;
  justify-content: center;
  gap: 20px; 
  overflow-x: auto; 
  padding: 10px 0;
}

.image-link {
  position: relative;
  display: inline-block;
  overflow: hidden; 
}

.gallery-image {
  width: 300px; 
  height: 200px; 
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white; 
  text-align: center;
  font-size: 25px; 
}

.image-link:hover .overlay-text {
  opacity: 1;
}
.image-link:hover img {
  filter: blur(3px); 
}
