.footer {
    background-color: #000000;
    color: #fff;
    padding: 50px 0;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo img {
    width: 150px;
    filter: invert(100%);

  }
  
  .footer-links ul,
  .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li,
  .footer-social ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-links ul li a,
  .footer-social ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .footer-links ul li a:hover,
  .footer-social ul li a:hover {
    color: #ff69b4;
  }
  
  .footer-social ul li {
    font-size: 24px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 14px;
  }
  